@model IEnumerable<RailwayCompany.Models.Person>

<h2>Добро пожаловать на сайт железнодорожной компании</h2>
<p><a class = "nav-link Active" asp-controller = "People" asp-action="Index">Пользователи</a></p>
<p><a class = "nav-link Active" asp-controller = "Stations" asp-action="Index">Станции</a></p>
<p><a class = "nav-link Active" asp-controller = "Routes" asp-action="Index">Станции</a></p>



<table class="table">
	
</table>

<f></f>